{% extends 'base.html' %}

{% block title %}このサイトについて | AtCoder Games{% endblock %}

{% block content %}
    <h1 class="my-3">このサイトについて</h1>

    <p>AtCoder Gamesでは、AtCoderの問題に登場するゲームが遊べます。</p>
    <p><a href="https://github.com/sotanishy">GitHub</a></p>
    <p>純粋にゲームとして楽しんだり、問題の理解を深めたりするのにお役立てください。</p>
    <p>このサイトはsotanishy(<a href="https://twitter.com/sotasingularity">@sotasingularity</a>)によって運営されています。</p>
    <p>バグの報告や機能・問題の追加の要望などはDMやリプライを送っていただくか、GitHubでIssueを立てていただければ対応いたします。</p>

    <h3 class="my-3">問題の追加</h3>
    <p><a href="https://atcoder-tags.herokuapp.com/">AtCoder Tags</a>で"Game"のタグが付いている問題のうち、僕がACした問題を適当に選んで実装していきます。</p>
    <p>遊びたい問題の要望がありましたら、送っていただければ優先的に対応したいと思います。</p>
    <p>また、まだ実装されていない問題で、自分で実装したいという方がいましたら、GitHubのIssueを立てていただければAssign致します。</p>
    <p>ゲームの処理はJavaScriptで実装してます。詳しくはGitHubのCONTRIBUTING.mdをお読みください。</p>

    <h3 class="my-3">Credits</h3>
    <p><a href="https://twitter.com/__Null_Null_">@__Null_Null</a>さん: AtCoder Tagsを参考にさせていただいています。</p>
    <p><a href="https://twitter.com/kenkoooo">@kenkoooo</a>さん: AtCoder Problems APIを利用させていただいています。</p>
    <p>Writerの方々: 問題を引用させていただいています。</p>
{% endblock %}