{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="my-3">AtCoder Games</h1>
    <p>
    AtCoderの問題に登場するゲームが遊べます。
    </p>

    <h3 class="my-3">最新のお知らせ</h3>
    {% if recent_announcement_list %}
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            <tbody>
            {% for announcement in recent_announcement_list %}
                <tr>
                    <td>{{ announcement.date|date:'Y-m-d' }}</td>
                    <td>{{ announcement.message }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{% url 'games:announcements' %}">すべてのお知らせを見る</a>
    {% else %}
        <p>お知らせはありません</p>
    {% endif %}

    <h3 class="my-3">最近追加されたゲーム</h3>
    {% if game_list %}
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th scope="col">Date Added</th>
                    <th scope="col">Problem</th>
                    <th scope="col">Contest</th>
                    <th scope="col">Difficulty</th>
                </tr>
            </thead>
            <tbody>
            {% for game in game_list %}
                <tr class="game" data-problem="{{ game.problem_id }}">
                    <td>{{ game.date_added|date:'Y-m-d' }}</td>
                    <td><a class="title" href="{% url 'games:detail' game.problem_id %}">{{ game.title }}</a></td>
                    <td>{{ game.contest }}</td>
                    <td class="diff">-</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{% url 'games:list' %}">すべてのゲームを見る</a>
    {% else %}
        <p>ゲームはありません。</p>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'games/difficulty.js' %}"></script>
{% endblock %}